<div
  class="flex justify-between bg-blue-400 text-white font-medium items-center px-5 py-2 border-b shadow-lg"
>
  <p
    class="text-2xl text-white border border-gray-200 px-5 py-1 shadow-lg rounded-md"
  >
    LOGO
  </p>
  <div class="flex gap-3 text-lg">
    <a href="#">Home</a>
    <a>Shop</a>
    <a>Contact</a>
  </div>

  @if(auth.loggedIn == false){
  <div class="flex gap-3 text-lg">
    <a routerLink="/signup-page" routerLinkActive="active">Sign Up</a>
    <a routerLink="/login-page" routerLinkActive="active">Login</a>
  </div>
  }@else if(auth.loggedIn){ }
</div>
