<div class="bg-slate-200 pt-32 h-fit flex flex-col gap-32">
  <div
    class="container mx-auto bg-green-100 border border-emerald-100 h-fit shadow-2xl flex flex-col gap-5 items-center relative px-10 py-4 rounded-md"
  >
    <img
      src="/img_02.jpeg"
      alt="product-image"
      class="absolute w-28 h-28 -top-16 rounded-lg shadow-lg"
    />

    <div class="flex gap-4 text-base mt-16">
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-yellow-400"></i>
    </div>
    <textarea
      class="lg:w-2/3 w-full px-2 py-1 rounded-lg h-20 focus:outline outline-green-500 text-sm"
      placeholder="Write your experience here"
    ></textarea>
    <div class="flex justify-between lg:w-2/3 w-full items-end">
      <div class="flex gap-3 self-start">
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <div
          class="flex items-center justify-center w-10 h-auto rounded-lg bg-transparent/30"
        >
          <i class="fa-solid fa-plus text-gray-200 text-2xl"></i>
        </div>
      </div>
      <button
        type="submit"
        class="px-4 py-1 h-fit text-white bg-green-500 rounded-md"
      >
        Submit
      </button>
    </div>
  </div>
  <div
    class="container mx-auto bg-emerald-100 border border-green-200 h-fit shadow-2xl flex flex-col gap-5 items-center relative px-10 py-4 mb-20 rounded-md"
  >
    <img
      src="/img_02.jpeg"
      alt="product-image"
      class="absolute w-28 h-28 -top-16 rounded-lg shadow-lg"
    />
    <img
      src="/img_02.jpeg"
      alt="product-image"
      class="absolute w-20 h-20 -top-8 ml-36 mt-2 rounded-lg shadow-lg border-2 border-white z-10"
    />
    <div
      class="absolute w-16 h-16 -top-14 mr-32 mt-2 rounded-lg shadow-lg border-2 border-white z-10 bg-transparent/30"
    >
      <img src="/img_02.jpeg" alt="product-image" class="rounded-lg" />
    </div>

    <div class="flex gap-4 text-base mt-16">
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-yellow-400"></i>
      <i class="fa-solid fa-star text-gray-400"></i>
    </div>
    <textarea
      class="lg:w-2/3 w-full px-2 py-1 rounded-lg h-20 focus:outline outline-green-500 text-sm"
      placeholder="Write your experience here"
    ></textarea>
    <div class="flex justify-between lg:w-2/3 w-full items-end">
      <div class="flex gap-3 self-start">
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <img
          src="/img_02.jpeg"
          alt="review-picture"
          class="w-10 h-auto rounded-lg"
        />
        <div
          class="flex items-center justify-center w-10 h-auto rounded-lg bg-transparent/30"
        >
          <i class="fa-solid fa-plus text-gray-200 text-2xl"></i>
        </div>
      </div>
      <button
        type="submit"
        class="px-4 py-1 h-fit text-white bg-green-500 rounded-md"
      >
        Submit
      </button>
    </div>
  </div>
</div>
