<div class="flex flex-col px-3 relative gap-4 mt-5 lg:mx-auto lg:container lg:gap-8">
  <!-- ? Part 1 -->

  <div class="flex flex-col gap-4 md:flex-row">
    <!--? Product image showcase  -->

    <div class="flex flex-col gap-2 w-full md:w-1/2">
      <div class="flex flex-col lg:flex-row-reverse gap-2">
        <div class="lg:w-5/6 relative">
          <i class="fa-solid fa-square-caret-left text-4xl absolute top-1/2 left-0 h-10 text-white" (click)="previous()"></i>
          <img [src]="productList[selectedImage]" alt="Smart watch" class="w-full h-auto" />
          <i class="fa-solid fa-square-caret-right text-4xl absolute top-1/2 right-0 text-white" (click)="next()"></i>
        </div>
        <div class="grid gap-1 w-full lg:w-1/6">
          @for(product of productList; track $index){
          <img [src]="product" alt="Smart watch" (click)="selectImage($index)" />
          }

        </div>
      </div>

      <div class="flex flex-col gap-2 w-full">
        <div class="flex gap-3 p-2 pt-3 items-start">
          <i class="fa-solid fa-check text-green-500"></i>
          <div class="flex flex-col gap-2 w-full">
            <p class="text-green-500 flex gap-3 font-semibold text-base">
              Shipper commitment
              <span><i class="fa-solid fa-chevron-right"></i></span>
            </p>
            <div class="flex flex-col gap-1 bg-gray-200/70 p-2 rounded-md leading-tight text-xs">
              <div class="flex gap-2 items-center text-sm">
                <i class="fa-solid fa-stop text-gray-400"></i>
                <p class="text-green-500 font-medium">Quality Guarantee</p>
              </div>
              <div class="flex gap-2">
                <i class="fa-solid fa-check text-green-500"></i>
                <p class="text-gray-500">Only quality product we serve</p>
              </div>
              <div class="flex gap-2">
                <i class="fa-solid fa-check text-green-500"></i>
                <p class="text-gray-500">
                  We deliver the same product you see on purchase
                </p>
              </div>
            </div>
            <div class="flex flex-col gap-1 bg-gray-200/70 p-2 text-xs rounded-md leading-tight">
              <div class="flex gap-2 items-center text-sm">
                <i class="fa-solid fa-stop text-gray-400"></i>
                <p class="text-green-500 font-medium">Delivery Guarantee</p>
              </div>
              <div class="flex gap-2">
                <i class="fa-solid fa-check text-green-500"></i>
                <p class="text-gray-500">Maximum 3 days delivery</p>
              </div>
              <div class="flex gap-2">
                <i class="fa-solid fa-check text-green-500"></i>
                <p class="text-gray-500">Return if item damage</p>
              </div>
              <div class="flex gap-2">
                <i class="fa-solid fa-check text-green-500"></i>
                <p class="text-gray-500">easy return price adjustment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--? Product description  -->

    <div class="flex flex-col gap-3 pt-3 md:w-1/2">
      <div class="flex divide-x-3 items-center gap-1">
        <div class="flex gap-2 items-center">
          <p class="font-semibold text-gray-500 text-lg tracking-wider">4.0</p>
          <div class="flex gap-0.5 text-sm">
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star-half-stroke text-gray-600"></i>
          </div>
        </div>
        <div class="h-5 w-px bg-gray-300 mx-4"></div>

        <p class="text-sm text-gray-500">10.3k+ Sold</p>
      </div>
      <p class="text-sm">
        Premium Silver Chronograph Watch for Men - Elegant, Durable, and
        Water-Resistant Design, Water resistant, precise Timekeeping, perfect
        for everyday wear, Memorable gift, and Business occasion
      </p>
      <div class="flex items-center gap-3">
        <p class="text-sm text-orange-500">
          Lowest ever <span>&#2547;<span class="text-lg">79</span></span>
        </p>
        <p class="text-sm text-gray-500 line-through">Taka 120</p>
      </div>
      <div class="bg-orange-400 rounded-lg text-xs flex flex-col p-1">
        <p class="text-white px-2 pb-1 font-medium">Pick up variant</p>
        <div class="bg-white rounded-lg py-1 px-2 flex flex-col gap-2 pb-4">
          <p class="text-sm font-medium">Color:</p>
          <div class="grid grid-cols-5 gap-2 mb-2">
            <div class="flex flex-col sgap-1 items-center border border-gray-300 rounded-md">
              <img src="/image1.jpeg" alt="Smart watch" />
              <p class="py-1 font-medium text-gray-600">Black</p>
            </div>
            <div class="flex flex-col sgap-1 items-center border border-gray-300 rounded-md">
              <img src="/image1.jpeg" alt="Smart watch" />
              <p class="py-1 font-medium text-gray-600">Green</p>
            </div>
            <div class="flex flex-col sgap-1 items-center border border-gray-300 rounded-md">
              <img src="/image1.jpeg" alt="Smart watch" />
              <p class="py-1 font-medium text-gray-600">Yellow</p>
            </div>
            <div class="flex flex-col sgap-1 items-center border border-gray-300 rounded-md">
              <img src="/image1.jpeg" alt="Smart watch" />
              <p class="py-1 font-medium text-gray-600">Orange</p>
            </div>
            <div class="flex flex-col sgap-1 items-center border border-gray-300 rounded-md">
              <img src="/image1.jpeg" alt="Smart watch" />
              <p class="py-1 font-medium text-gray-600">Golden</p>
            </div>
            <div class="flex flex-col sgap-1 items-center border border-gray-300 rounded-md">
              <img src="/image1.jpeg" alt="Smart watch" />
              <p class="py-1 font-medium text-gray-600">White</p>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <p>Size:</p>
            <div class="grid grid-cols-4 md:grid-cols-6 gap-1">
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                XL/ 44cm
              </button>
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                XL/ 44cm
              </button>
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                XL/ 44cm
              </button>
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                XL/ 44cm
              </button>
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                XL/ 44cm
              </button>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <p>Material:</p>
            <div class="grid grid-cols-5 gap-1">
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                Cotton
              </button>
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                Lilen
              </button>
              <button class="border border-gray-400 px-auto py-1 5 rounded-md shadow-sm text-xs text-nowrap">
                Metal
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-3 text-sm pt-3 mb-5">
        <div class="flex gap-3 items-center">
          <p>Quantity:</p>
          <input type="number" class="border border-gray-400 rounded-md pl-2 w-16 h-7" value="1" />

          <p class="text-gray-600 font-medium">(stock available)</p>
        </div>
      </div>
      <div class="w-full bg-white fixed md:relative bottom-0 left-2 p-2 pr-5">
        <button class="w-full rounded-xl bg-orange-400 text-white font-medium py-1">
          Add to cart
        </button>
      </div>
    </div>
  </div>

  <!-- ? Part 2  -->

  <div class="flex flex-col-reverse md:flex-row gap-3 mb-14 border-t-4 pt-3">
    <!--? Review Section  -->
    <div class="flex flex-col gap-3">
      <div class="flex gap-3 items-center divide-x-2 text-sm font-medium">
        <p class="p-1 text-center">320 reviews</p>
        <div class="flex gap-2 items-center pl-2">
          <p class="font-semibold text-gray-500 text-lg tracking-wider">4.0</p>
          <div class="flex gap-0.5 text-sm items-center">
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star text-gray-600"></i>
            <i class="fa-solid fa-star text-gray-400/70"></i>
            <p class="text-orange-500 font-semibold">(Verified)</p>
          </div>
        </div>
      </div>
      <!-- ? Customer review -->
      <div class="flex flex-col gap-2 pb-3">
        <div class="flex gap-3 items-center">
          <img src="/profile.jpg" alt="profile-photo" class="w-10 h-10 rounded-full" />
          <div class="flex flex-col text-xs">
            <p class="font-semibold">Nazir Hossain</p>
            <p class="text-gray-600">on 20 September, 2024</p>
          </div>
        </div>
        <div class="flex gap-0.5 text-xs">
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-400/70"></i>
        </div>
        <p class="text-xs text-gray-600 lg:text-sm">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa quam
          molestiae consequatur id doloribus nisi excepturi quia corporis,
          asperiores exercitationem iste dolor obcaecati aut hic tempore
          recusandae ullam voluptatum et.
        </p>
      </div>
      <div class="flex flex-col gap-2 pb-3">
        <div class="flex gap-3 items-center">
          <img src="/profile.jpg" alt="profile-photo" class="w-10 h-10 rounded-full" />
          <div class="flex flex-col text-xs">
            <p class="font-semibold">Nazir Hossain</p>
            <p class="text-gray-600">on 20 September, 2024</p>
          </div>
        </div>
        <div class="flex gap-0.5 text-xs">
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-400/70"></i>
        </div>
        <p class="text-xs text-gray-600 lg:text-sm">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa quam
          molestiae consequatur id doloribus nisi excepturi quia corporis,
          asperiores exercitationem iste dolor obcaecati aut hic tempore
          recusandae ullam voluptatum et.
        </p>
      </div>
      <div class="flex flex-col gap-2 pb-3">
        <div class="flex gap-3 items-center">
          <img src="/profile.jpg" alt="profile-photo" class="w-10 h-10 rounded-full" />
          <div class="flex flex-col text-xs">
            <p class="font-semibold">Nazir Hossain</p>
            <p class="text-gray-600">on 20 September, 2024</p>
          </div>
        </div>
        <div class="flex gap-0.5 text-xs">
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-400/70"></i>
        </div>
        <p class="text-xs text-gray-600 lg:text-sm">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa quam
          molestiae consequatur id doloribus nisi excepturi quia corporis,
          asperiores exercitationem iste dolor obcaecati aut hic tempore
          recusandae ullam voluptatum et.
        </p>
      </div>
      <div class="flex flex-col gap-2 pb-3">
        <div class="flex gap-3 items-center">
          <img src="/profile.jpg" alt="profile-photo" class="w-10 h-10 rounded-full" />
          <div class="flex flex-col text-xs">
            <p class="font-semibold">Nazir Hossain</p>
            <p class="text-gray-600">on 20 September, 2024</p>
          </div>
        </div>
        <div class="flex gap-0.5 text-xs">
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-600"></i>
          <i class="fa-solid fa-star text-gray-400/70"></i>
        </div>
        <p class="text-xs text-gray-600 lg:text-sm">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa quam
          molestiae consequatur id doloribus nisi excepturi quia corporis,
          asperiores exercitationem iste dolor obcaecati aut hic tempore
          recusandae ullam voluptatum et.
        </p>
        <div class="flex gap-1">
          <img src="/image1.jpeg" alt="product_image" class="w-8 h-8" />
          <img src="/image1.jpeg" alt="product_image" class="w-8 h-8" />
          <img src="/image1.jpeg" alt="product_image" class="w-8 h-8" />
          <img src="/image1.jpeg" alt="product_image" class="w-8 h-8" />
        </div>
      </div>

      <button class="self-center border-blue-700 bg-blue-200 w-fit px-5 rounded-full text-gray-700 my-5 md:mt-16 text-sm py-1">
        See all reviews
      </button>
    </div>
    <!--? product description  -->
    <div class="flex flex-col gap-3">
      <div class="">
        <p class="text-sm font-medium underline text-gray-700 pb-3">Details:</p>
        <p class="text-xs lg:text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptate
          doloribus, cupiditate dolores sit saepe nesciunt eius quam nisi ea,
          reiciendis, voluptas molestias nihil adipisci sunt blanditiis
          perspiciatis provident placeat.
        </p>
      </div>
      <div class="space-y-1">
        <img src="/image1.jpeg" alt="product" class="w-full h-64 lg:w-3/4" />
        <img src="/image1.jpeg" alt="product" class="w-full h-64 lg:w-3/4" />
        <img src="/image1.jpeg" alt="product" class="w-full h-64 lg:w-3/4" />
      </div>
    </div>
  </div>

  <!-- ? Part 3  -->
  <!-- ? Product explore -->

  <div class="flex flex-col gap-3 pb-10">
    <p class="text-base font-semibold text-gray-600">Explore similar ones</p>
    <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-7 gap-3 lg:gap-4">
      <div class="flex flex-col gap-2">
        <img src="/image1.jpeg" alt="image" class="w-auto h-auto" />
        <div class="flex flex-col">
          <p class="text-xs text-gray-700 line-clamp-1">
            quartz smart watch for heavy use in any weather condition, dust
            proof, water proof
          </p>
          <p class="text-xs text-gray-400 font-medium">Fashionable watch</p>
          <div class="flex gap-0.5 text-xs mt-1">
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-gray-400/70"></i>
          </div>
        </div>
        <div class="flex gap-1 justify-between">
          <div class="flex gap-1 items-end">
            <p class="text-orange-600 text-sm">TK 480</p>
            <p class="text-xs text-gray-400 line-through">TK 600</p>
          </div>

          <i class="fa-solid fa-shopping-cart text-gray-500 border border-gray-400 rounded-md text-[10px] p-1 mr-3"></i>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <img src="/image1.jpeg" alt="image" class="w-auto h-auto" />
        <div class="flex flex-col">
          <p class="text-xs text-gray-700 line-clamp-1">
            quartz smart watch for heavy use in any weather condition, dust
            proof, water proof
          </p>
          <p class="text-xs text-gray-400 font-medium">Fashionable watch</p>
          <div class="flex gap-0.5 text-xs mt-1">
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-gray-400/70"></i>
          </div>
        </div>
        <div class="flex gap-1 justify-between">
          <div class="flex gap-1 items-end">
            <p class="text-orange-600 text-sm">TK 480</p>
            <p class="text-xs text-gray-400 line-through">TK 600</p>
          </div>

          <i class="fa-solid fa-shopping-cart text-gray-500 border border-gray-400 rounded-md text-[10px] p-1 mr-3"></i>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <img src="/image1.jpeg" alt="image" class="w-auto h-auto" />
        <div class="flex flex-col">
          <p class="text-xs text-gray-700 line-clamp-1">
            quartz smart watch for heavy use in any weather condition, dust
            proof, water proof
          </p>
          <p class="text-xs text-gray-400 font-medium">Fashionable watch</p>
          <div class="flex gap-0.5 text-xs mt-1">
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-gray-400/70"></i>
          </div>
        </div>
        <div class="flex gap-1 justify-between">
          <div class="flex gap-1 items-end">
            <p class="text-orange-600 text-sm">TK 480</p>
            <p class="text-xs text-gray-400 line-through">TK 600</p>
          </div>

          <i class="fa-solid fa-shopping-cart text-gray-500 border border-gray-400 rounded-md text-[10px] p-1 mr-3"></i>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <img src="/image1.jpeg" alt="image" class="w-auto h-auto" />
        <div class="flex flex-col">
          <p class="text-xs text-gray-700 line-clamp-1">
            quartz smart watch for heavy use in any weather condition, dust
            proof, water proof
          </p>
          <p class="text-xs text-gray-400 font-medium">Fashionable watch</p>
          <div class="flex gap-0.5 text-xs mt-1">
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-gray-400/70"></i>
          </div>
        </div>
        <div class="flex gap-1 justify-between">
          <div class="flex gap-1 items-end">
            <p class="text-orange-600 text-sm">TK 480</p>
            <p class="text-xs text-gray-400 line-through">TK 600</p>
          </div>

          <i class="fa-solid fa-shopping-cart text-gray-500 border border-gray-400 rounded-md text-[10px] p-1 mr-3"></i>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <img src="/image1.jpeg" alt="image" class="w-auto h-auto" />
        <div class="flex flex-col">
          <p class="text-xs text-gray-700 line-clamp-1">
            quartz smart watch for heavy use in any weather condition, dust
            proof, water proof
          </p>
          <p class="text-xs text-gray-400 font-medium">Fashionable watch</p>
          <div class="flex gap-0.5 text-xs mt-1">
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-amber-400"></i>
            <i class="fa-solid fa-star text-gray-400/70"></i>
          </div>
        </div>
        <div class="flex gap-1 justify-between">
          <div class="flex gap-1 items-end">
            <p class="text-orange-600 text-sm">TK 480</p>
            <p class="text-xs text-gray-400 line-through">TK 600</p>
          </div>

          <i class="fa-solid fa-shopping-cart text-gray-500 border border-gray-400 rounded-md text-[10px] p-1 mr-3"></i>
        </div>
      </div>
    </div>
    <button class="self-center bg-orange-400 text-white w-fit px-5 rounded-full my-5 text-sm py-1">
      Find more
    </button>
  </div>
</div>