@if(auth.loggedInAdmin == false){
<div class="bg-blue-400 h-screen pt-10">
  <form
    class="mx-auto container flex justify-center rounded-lg bg-white w-[500px] py-12 px-20 flex-col gap-5"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <p class="text-2xl text-center">Login form</p>
    <div class="flex flex-col gap-1">
      <label for="email">Email</label>
      <input
        type="text"
        placeholder="example@email.com"
        class="py-1 rounded-md px-2 border border-gray-500"
        formControlName="email"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="password">Password</label>
      <input
        type="text"
        placeholder="12345678"
        class="py-1 rounded-md px-2 border border-gray-500"
        formControlName="password"
      />
      <div class="flex justify-between">
        <div class="flex gap-2 group">
          <input type="checkbox" />
          <p class="text-sm cursor-pointer">Remember</p>
        </div>
        <p class="text-blue-600 text-sm cursor-pointer">Forget password?</p>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <button
        type="submit"
        class="rounded-md w-full text-center bg-blue-500 text-white py-1 text-lg mt-8 disabled:bg-gray-400"
        [disabled]="!loginForm.valid"
      >
        Login as admin
      </button>
      <p class="text-center">Or</p>
      <p class="text-center">
        Login as
        <span
          class="text-blue-600 font-medium cursor-pointer"
          routerLink="/login-page"
          >Customer</span
        >
      </p>

      <p class="text-center mt-5">
        Don't have an account?<span
          class="text-blue-500 font-medium ml-3 cursor-pointer"
          routerLink="/signup-page"
          >Sign up</span
        >
      </p>
    </div>
  </form>
</div>
}@else {
<div class="mt-20 flex justify-center items-center">
  <div
    class="py-7 px-20 w-fit h-fit bg-blue-500 text-white font-semibold rounded-lg"
  >
    <p class="text-xl mb-5 text-center">You are logged in</p>
    <hr />
    <div class="flex gap-5 items-center mt-10">
      <div class="flex gap-5">
        <p>Go to</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-7 fill-white"
        >
          <path
            fill-rule="evenodd"
            d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
            clip-rule="evenodd"
          />
          <path
            fill-rule="evenodd"
            d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>

      <div class="flex flex-col gap-4 items-center">
        <button
          type="button"
          class="bg-white text-blue-600 rounded-md px-3 py-0.5"
          routerLink="/product-listing"
        >
          Product Listing
        </button>
        <p>OR</p>
        <button
          type="button"
          class="bg-white text-blue-600 rounded-md px-3 py-0.5"
          routerLink="/order-list"
        >
          Order List
        </button>
      </div>
    </div>
  </div>
</div>

}
